<section class="educacion">
    <div class="container text-center"> 
      <!-- Columna de bootstrap-->
      <div class="container text-center">
        <h3 class="pt-3">
          <i> Educación </i>
        </h3>
        <div class="row align-items-center">
          <div class="col">
            <img src="./../../../assets/img/Logo-Esc.png" alt="Esc" class="iconosEd">
            <h5>Escuela Normal "P.V.M." <br> Bachiller en Economía y Administración <br> 2013-2018 </h5>
          </div>
          <div class="col">
            <img src="./../../../assets/img/logo-isfdpb.png" alt="ISFD" class="iconosEd">
           <h5>Instituto Superior de Formación Docente "J.L.B."<br> Tecnicatura en Informática <br>Actualidad </h5>
          </div>
        </div>
      </div>
    </div>
</section>
