<section class="educacion">
    <div class="container text-center"> 
      <!-- Columna de bootstrap-->
      <div class="container text-center">
        <h3 class="pt-3">
          <i> Educación </i>
        </h3>
        <div class="row align-items-center" *ngFor="let escuela of educacion">
          <div class="col">
            <img [src]="escuela.logo" alt="Esc" class="iconosEd">
            <h5>{{escuela.institucion}}<br> {{escuela.titulo}}<br> {{escuela.fecha}} </h5>
          </div>
      
        </div>
      </div>
    </div>
</section>
