/* PAGINA LOGIN */
.login{
    height: 82vh;
    background-color: black;
}
.formulario-login{
    margin-top: 10%;
}
.container3{
    text-align: center;
}

/*texto del footer en login register y dashboard*/
p.footer{
    color: #fff;
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
}