 
<app-navbar></app-navbar>

 <!--Cuerpo de login-->
  <!--Columnas-->
  <section class="login">
    <div class="container2 text-center">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 formulario-register pt-3">
          <div class="modal-body">
            <!--formulario para login-->
            <form>
              <div class="row g-3">
                  <div class="col">
                      <label class="form-label text-white">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                  </div>
                  <div class="col">
                      <label class="form-label text-white">Apellido</label>
                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
                  </div>
              </div>
              <div class="mb-3 text-white">
                <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" placeholder="Correo electrónico" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3 text-white">
                <label class="form-label">Contraseña</label>
                <input class="form-control" placeholder="Contraseña" id="exampleInputPassword1">
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Registrar</button>
      </div>
      <small>¿Ya tienes una cuenta? <a routerLink="/paginalogin">Ingresar</a></small>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
  </section>

  <footer> 
    <div class="container3">
      <p  class="footer" >&copy;CopyRight Evelyn Romina Alcaraz - 2022 </p>
    </div>
</footer>  
