<section class="presentacion">
    <div class="container  text-center"> 
      <!-- Columna de bootstrap-->
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2><i>
              Acerca de mi
            </i></h2>
            <h5>
              Soy estudiante del curso Argentina Programa para Desarrollador Jr. Full Stack.<br>
              Estudiante de la Tecnicatura Superior de Infraestructura 
              Informática. <br>
              Me gusta enseñar matemáticas, álgebra y cálculo básico 
              de Ingeniería.
            </h5>
          </div>
        </div>
      </div>
    </div>
</section>
