<section class="cursos">
    <div class="container text-center"> 
      <div class="container text-center">
        <h2 class="pt-3 text-center"> 
          <i>Certificados</i>
        </h2>

        <div class="row">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="./../../../assets/img/Certificado-CIVIL3D.png" alt="certicado1" class="certificado">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="./../../../assets/img/Certificado-MundoDigital.png" alt="certificado2" class="certificado">
          </div>
      
          <!-- Force next columns to break to new line -->
          <div class="w-100"> </div>
      
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="./../../../assets/img/Certificado-SAP2000.png" alt="certificado3" class="certificado">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="./../../../assets/img/Certificado-SeProgramar.png" alt="ceertificado4" class="certificado">
          </div>
        </div>
        
      </div>
    </div>
</section>
