/*container presentacion-edu-cursos-habilidades-proyectos*/
.container{
    padding: 1.875rem;
    text-align: center;
}

.container div {
    background-color: #fff;
}

.container-col{
    justify-content: center;
}
/*img certificados*/
.certificado{
    width: 20rem;
    height: 15rem;
    padding-left: 10%;
    padding: 0.8rem;
}
.cursos{
    background-color: black;
}

@media (min-width: 45rem){
    .container-col{
        flex-direction: column;
        justify-content: space-between;
    }
}