/*container presentacion-edu-cursos-habilidades-proyectos*/
.container{
    padding: 1.875rem;
    text-align: center;
}

.container div {
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-width: 20rem;
    max-width: 87.5rem;
    background-color: #fff;
}

/*img certificados*/
.certificado{
    width: 75%;
    height: 80%;
    background-size: cover;
    
}
.cursos{
    background-color: black;
}